div.one-third {
	width: 47.5%;
}

div.one-third-second {
	margin: 0;
}

div.one-third-last {
	clear: both;
	float: none;
	width: auto;
	padding: 20px 0 0 0;
}
 /*
div.nav ul li {
	width: 25%;
	border-bottom: 1px solid #bababa;
}

@media screen and (max-width: 620px) {
	div.nav ul li {
		width: 33%;
	}
}
*/
@media screen and (max-width: 500px) {
	/*
	div.nav ul li {
		width: 50%;
		font-size: 85%;
	}
	*/
        /*mobile-collapse: essa classe é a classe em comum diversas classes que serão padrão, ou seja, em vez de ter que escrever classe por classe
        para executar essa ação em todas foi criado essa classe*/
	div.mobile-collapse {
		width: auto;
		float: none;
		margin-right: 0;
	}
	
	.hide-mobile {
		display: none;//Some com as div's que tem esta classe'
	}
		
}